* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

/* Horizontal Ruler */
hr.small {
  height: 1px; /* Adjust the height of the horizontal ruler*/
  width: 90%;  /* Adjust the width */
  background-color: black; /* Change the color if needed */
  border: none; /* Remove the default border */
}
/* Kenya Flag */
img.flag {
  width: 150px; /* Adjust the width of the Fenyan flag */
  height: 70px; /* Maintain aspect ratio */
  border: 1px solid black; /* Add a border */
}
img.mypic {
  width: 150px; /* Adjust the width of the Fenyan flag */
  height: 200px; /* Maintain aspect ratio */
  border: 1px solid black; /* Add a border */
}

/* Navigation style */
h2.ttbg {
  margin: 0;
  padding: 15px;
  text-align: center;
  color: white;
  background-color: #16485f;
}
.yellow{
  color: yellow;
}
/* Style the navigation menu */


.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #4a8a53;
}

h2.center{
  text-align: center;
}
.bgnaviblue{
  background-color: #16485f;
  color: white;
  padding: 5px;
  text-align: center;
}

/* Grid Layout */
.item1 { grid-area: about;}
.item2 { grid-area: pic;}
.item3 { grid-area: me;}
.item4 { grid-area: nai;}
.item5 { grid-area: flag;}
.item6 { grid-area: note;}
.item7 { grid-area: ke;}
.item8 { grid-area: web;}
.item9 { grid-area: sch;}


.grid-container {
  display: grid;
  grid-template-areas:
    'about about about about web web'
    'me me me pic sch sch'
    'nai nai nai nai sch sch'
    'flag ke ke ke sch sch'
    'note ke ke ke sch sch'
    ;
  gap: 8px;
  background-color: white;
  padding: 20px;
  
}

.grid-container > div {
  background-color: white;
  padding: 10;
  font-size: 19px;
  
}


/* footer */
footer {
  margin: 0;
  padding: 15px;
  text-align: center;
  color: white;
  background-color: #16485f;
}
/*----------------------------------------------------------------------------*/
/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}