header{
    background-color: red;
    color: white;
    text-align: center;
    height: 90px;
}
h1{
    padding: 20px;
}
br{
    background-color: green;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  footer{
    background-color: red;
    color: white;
    text-align: center;
    height: 90px;
}
.container{
    background-color: aliceblue;
}