* {
  box-sizing: border-box
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* Container formating */
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }

  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}

/* Container formating */

/* center the website images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* center the website images */
/* Navigation bar settings */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: ;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
  /* Used in this example to enable scrolling */
}

/* Navigation bar settings */
/* Shows active menu bar */
.navbar a.active {
  background-color: red;
}

/* Shows active menu bar */
/* footer format */
footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
}

/* footer format */